{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Article Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>Article List page</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="#">{{article.title}}</a></h2>
                <p>{{article.snapit}}</p>
                <p>{{article.date}}</p>
            </div>
        {% endfor %}
    </div>

</body>

</html>